[Desktop Entry]
Name=Image Viewer
Name[de]=Bildbetrachter
Name[fr]=Visionneuse d'images
Comment=gThumb
Categories=Graphics;
Exec=gthumb %U
#Icon=image-x-generic
Icon=shotwell
MimeType=image/bmp;image/jpeg;image/gif;image/png;image/tiff;image/x-bmp;image/x-ico;image/x-png;image/x-pcx;image/x-tga;image/xpm;image/svg+xml;
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gthumb
X-GNOME-Bugzilla-Component=general
X-GNOME-DocPath=gthumb/gthumb.xml
X-GNOME-Bugzilla-Version=3.0.1
