[Desktop Entry]
Name=Character Map
Name[de]=Zeichentabelle
Name[fr]=Table de caractères
Comment=MATE Character Map
Exec=mucharmap
Icon=accessories-character-map
Terminal=false
Type=Application
Categories=GTK;Utility;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mucharmap
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.6.0
OnlyShowIn=MATE;
StartupNotify=true
