[Desktop Entry]
GenericName=File Synchronization
GenericName[de]=Dateisynchronisierung
GenericName[fr]=Synchronisation de fichiers
Name=Dropbox
Exec=/opt/dropbox/dropboxd
Icon=/usr/share/pixmaps/dropbox.png
Terminal=false
Type=Application
Categories=Network;
