[Desktop Entry]
GenericName=Take notes
GenericName[de]=Notizen erstellen
GenericName[fr]=Prendre des notes
Name=Gnote
Exec=gnote --search
Icon=gnote
StartupNotify=false
Terminal=false
Type=Application
Categories=Utility;
