[Desktop Entry]
GenericName=Image Viewer
GenericName[de]=Bildbetrachter
GenericName[fr]=Visionneuse d'images
Name=Gwenview
Exec=gwenview %U -caption "%c" %i
Terminal=false
Icon=gwenview
#Icon=image-x-generic
Type=Application
Categories=Graphics;
MimeType=inode/directory;image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;
X-DocPath=gwenview/index.html
# InitialPreference should be greater than Okular so that Gwenview is the
# primary application associated with images, but less than Konqueror or Dolphin
# so that Gwenview is not the primary applications for folders.
InitialPreference=8
StartupNotify=true
