[Desktop Entry]
GenericName=Web Browser
GenericName[de]=Webbrowser
GenericName[fr]=Navigateur Web
Name=Mozilla Firefox
Exec=firefox %u
#Icon=firefox
Icon=applications-internet
Type=Application
Categories=Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
X-KDE-StartupNotify=true
