[Desktop Entry]
Version=1.0
GenericName=Remote Desktop
GenericName[de]=Entfernter Rechner
GenericName[fr]=Bureau distant
Name=Remmina
TryExec=remmina
Exec=remmina
#Icon=remmina
Icon=krdc
Terminal=false
Type=Application
Actions=
Categories=;Network;
StartupNotify=true
