[Desktop Entry]
GenericName=Printer 
GenericName[de]=Drucker
GenericName[fr]=Imprimante
Name=Print Settings
Encoding=UTF-8
Exec=system-config-printer
Terminal=false
Type=Application
Icon=printer
StartupNotify=true
X-Desktop-File-Install-Version=0.21
Categories=System;Settings;
