# ENABLE DIRECTORY VIEWS
Options +Indexes
Options +FollowSymlinks

# Encoding
AddDefaultCharset utf-8

# STRONG HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
 order allow,deny
 deny from all
</Files>

# DIRECTORY CUSTOMIZATION
<IfModule mod_autoindex.c>

	# SET INDEX OPTIONS
	IndexOptions IgnoreCase FancyIndexing FoldersFirst NameWidth=* DescriptionWidth=* SuppressHTMLPreamble

	# SET DISPLAY ORDER
	IndexOrderDefault Ascending Name

  # SPECIFY HEADER FILE
  HeaderName /slackware/repository-layout/header.html

  # SPECIFY FOOTER FILE
  ReadmeName /slackware/repository-layout/footer.html

  # IGNORE THESE FILES  
  IndexIgnore repository-layout .gitignore .directory

  # ICONS
  DefaultIcon   /slackware/repository-layout/text-x-generic.png
  AddIcon       /slackware/repository-layout/folder.png ^^DIRECTORY^^
  AddIcon       /slackware/repository-layout/go-up.png ..
  AddIcon       /slackware/repository-layout/text-x-script.png .sh
  AddIcon       /slackware/repository-layout/internet-news-reader.png ChangeLog.txt
  AddIcon       /slackware/repository-layout/application-rss+xml.png .rss
  AddIcon       /slackware/repository-layout/emblem-important.png README README.txt
  AddIcon       /slackware/repository-layout/slackware.png .SlackBuild
  AddIcon       /slackware/repository-layout/package-x-generic.png .tgz .gz .bz2 .7z .zip .rpm .deb
  AddIcon       /slackware/repository-layout/system-installer.png .txz 
  AddIcon       /slackware/repository-layout/application-certificate.png .txz.asc
  AddIcon       /slackware/repository-layout/manual.png Linux-HOWTOs
  AddIcon       /slackware/repository-layout/manual.png recipes
  AddIcon       /slackware/repository-layout/accessories-text-editor.png -HOWTO.txt
  AddIcon       /slackware/repository-layout/preferences-system.png tools
  AddIcon       /slackware/repository-layout/edit-copy.png template
  AddIcon       /slackware/repository-layout/xfce.png desktop-14.1-32bit
  AddIcon       /slackware/repository-layout/xfce.png desktop-14.1-64bit
  AddIcon       /slackware/repository-layout/xfce.png desktop-14.1-source
  AddIcon       /slackware/repository-layout/system-installer.png extras-14.1-32bit
  AddIcon       /slackware/repository-layout/system-installer.png extras-14.1-64bit
  AddIcon       /slackware/repository-layout/system-installer.png extras-14.1-source
  AddIcon       /slackware/repository-layout/server.png server-14.0-32bit
  AddIcon       /slackware/repository-layout/server.png server-14.0-64bit
  AddIcon       /slackware/repository-layout/server.png server-14.0-source
  AddIcon       /slackware/repository-layout/server.png server-14.1-32bit
  AddIcon       /slackware/repository-layout/server.png server-14.1-64bit
  AddIcon       /slackware/repository-layout/server.png server-14.1-source
  AddIcon       /slackware/repository-layout/utilities-terminal.png stripslack-14.1
  AddIconByType /slackware/repository-layout/image-x-generic.png image/*

  # DESCRIPTIONS
  AddDescription "Microlinux documentation in French" Linux-HOWTOs 
  AddDescription "Microlinux tutorial" -HOWTO.txt
  AddDescription "Template configuration files" template
  AddDescription "Microlinux cooking recipes" recipes
  AddDescription "Helper scripts" tools
  AddDescription "Obsolete software" pasture
  AddDescription "Microlinux test bench" testing
  AddDescription "Microlinux Enterprise Desktop 14.1 32-bit" desktop-14.1-32bit
  AddDescription "Microlinux Enterprise Desktop 14.1 64-bit" desktop-14.1-64bit
  AddDescription "Microlinux Enterprise Desktop 14.1 source" desktop-14.1-source
  AddDescription "Additional Software for MLED 14.1 32-bit" extras-14.1-32bit
  AddDescription "Additional Software for MLED 14.1 64-bit" extras-14.1-64bit
  AddDescription "Additional Software for MLED 14.1 source" extras-14.1-source
  AddDescription "Microlinux Enterprise Server 14.0 32-bit" server-14.0-32bit
  AddDescription "Microlinux Enterprise Server 14.0 64-bit" server-14.0-64bit
  AddDescription "Microlinux Enterprise Server 14.0 source" server-14.0-source
  AddDescription "Microlinux Enterprise Server 14.1 32-bit" server-14.1-32bit
  AddDescription "Microlinux Enterprise Server 14.1 64-bit" server-14.1-64bit
  AddDescription "Microlinux Enterprise Server 14.1 source" server-14.1-source
  AddDescription "Lightweight Slackware Linux Edition" stripslack-14.1
  AddDescription "Plain text file" .txt README
  AddDescription "Slackware build script" .SlackBuild
  AddDescription "Checksum file" .txz.md5
  AddDescription "Signature file" .txz.asc
  AddDescription "Slackware package" .txz
  AddDescription "Package file list" .lst
  AddDescription "Package information" .meta
  AddDescription "Slackware package description file" slack-desc
  AddDescription "Checksum file" .md5
  AddDescription "Patch file" .patch
  AddDescription "Desktop menu entry file" .desktop
  AddDescription "GZIP compressed TAR archive" .tgz .tar.gz
  AddDescription "BZIP2 compressed TAR archive" .tar.bz2
  AddDescription "GZIP compressed archive" .Z .z .gz .zip
  AddDescription "RAR compressed archive" .rar
  AddDescription "TAR compressed archive" .tar
  AddDescription "ZIP compressed archive" .zip 
  AddDescription "Joint Photographics Experts Group" .jpg .jpeg .jpe
  AddDescription "Graphic Interchange Format" .gif
  AddDescription "Portable Network Graphic" .png
  AddDescription "Vector graphic" .ps .ai .eps
  AddDescription "Hypertext Markup Language" .html .shtml .htm
  AddDescription "Extensible Markup Language" .xml
  AddDescription "Javascript" .js
  AddDescription "Unix shell script" .sh .shar .csh .ksh .command
  AddDescription "Configuration file" .conf
</IfModule>
