[Desktop Entry]
Name=Disk Usage
Name[de]=Festplattenbelegung
Name[fr]=Espace Disque
Comment=MATE Disk Usage Analyzer
TryExec=mate-disk-usage-analyzer
Exec=mate-disk-usage-analyzer
Icon=baobab
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;MATE;System;Filesystem;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-utils
X-MATE-Bugzilla-Component=mate-disk-usage-analyzer
X-MATE-Bugzilla-Version=1.6.0
