[Desktop Entry]
Name=Text editor
Name[de]=Texteditor
Name[fr]=Éditeur de texte
Comment=Pluma
Exec=pluma %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GTK;Utility;TextEditor;
