[Desktop Entry]
GenericName=Desktop Publishing
GenericName[de]=Desktop-Publishing
GenericName[fr]=Logiciel de PAO
Name=Scribus
Type=Application
Icon=scribus
TryExec=scribus
Exec=scribus %f
Terminal=false
MimeType=application/vnd.scribus;
Categories=Qt;Graphics;Publishing;
StartupWMClass=scribus
StartupNotify=false
X-AppInstall-Package=scribus
X-AppInstall-Section=main
X-KDE-SubstituteUID=false
X-KDE-Username=
[X-Property::X-KDE-NativeExtension]
Type=QString
Value=.sla
DocPath=scribus
