[Desktop Entry]
Name=Database
Name[de]=Datenbanken
Name[fr]=Bases de données
Comment=Libre Office Base
Version=1.0
Terminal=false
#Icon=libreoffice4.2-base
Icon=ooo-base
Type=Application
Categories=Office;
Exec=libreoffice4.2 --base %U
MimeType=application/vnd.oasis.opendocument.database;application/vnd.sun.xml.base;
StartupNotify=true
X-GIO-NoFuse=true
Keywords=Data;SQL;
InitialPreference=5
StartupWMClass=libreoffice-base
X-KDE-Protocols=file,http,smb,ftp,webdav

