[Desktop Entry]
Name=File Synchronization
Name[de]=Dateisynchronisierung
Name[fr]=Synchronisation de fichiers
Comment=Dropbox
Exec=/opt/dropbox/dropboxd
Icon=/usr/share/pixmaps/dropbox.png
Terminal=false
Type=Application
Categories=Network;
