[Desktop Entry]
Name=Audio Tag Editor
Name[de]=Audio-Tagger
Name[fr]=Éditeur de tags audio
Comment=EasyTag
Exec=easytag %F
#Icon=EasyTAG_icon
Icon=easytag
Terminal=false
Type=Application
Categories=AudioVideo;AudioVideoEditing;GTK;
X-Desktop-File-Install-Version=0.14
MimeType=audio/x-mp3;application/ogg;x-directory/normal;
StartupNotify=true

