[Desktop Entry]
Name=CD/DVD Burner
Name[de]=CD/DVD Brennprogramm
Name[fr]=Gravure de CD/DVD
Comment=Xfburn
Version=1.0
Type=Application
Exec=xfburn
TryExec=xfburn
Icon=media-cdrom
MimeType=application/x-cd-image;
Terminal=false
Categories=X-XFCE;GTK;DiscBurning;Archiving;AudioVideo;Utility;
StartupNotify=true

Actions=BurnImage;

[Desktop Action BurnImage]
Icon=media-cdrom
Exec=xfburn -i %f
Name=Burn Image (xfburn)
Name[ar]=حرق صورة (xfburn)
Name[ast]=Grabar imaxe (xfburn)
Name[bg]=Запис на образ (xfburn)
Name[ca]=Crema una imatge (xfburn)
Name[cs]=Vypálit obraz (fxburn)
Name[da]=Brænd Billede (xfburn)
Name[de]=CD-Abbild brennen (xfburn)
Name[el]=Εγγραφή εικόνας (xfburn)
Name[en]=Burn Image (xfburn)
Name[en_AU]=Burn Image (xfburn)
Name[en_GB]=Burn Image (xfburn)
Name[es]=Grabar imagen (xfburn)
Name[eu]=Grabatu irudia (xfburn)
Name[fi]=Polta levykuva (xfburn)
Name[fr]=Graver l'image (xfburn)
Name[gl]=Gravar imaxe (xfburn)
Name[hr]=Snimi sliku (xfburn)
Name[hu]=Lemezkép írása
Name[id]=Bakar Citra (xfburn)
Name[it]=Masterizza immagine (xfburn)
Name[ja]=イメージを焼く (Xfburn)
Name[kk]=Бейнені жазу (xfburn)
Name[ko]=이미지 기록하기(xfburn)
Name[lt]=Rašyti į diską (xfburn)
Name[nb]=Brenn avtrykk (xfburn)
Name[nl]=Brand schijfkopie (xfburn)
Name[nn]=Brenn bilete (xfburn)
Name[oc]=Gravar l'imatge (xfburn)
Name[pl]=Nagraj obraz
Name[pt]=Gravar imagem (xfburn)
Name[pt_BR]=Gravar Imagem (xfburn)
Name[ru]=Записать образ (xfburn)
Name[sk]=Vypáliť obraz (xfburn)
Name[sr]=Нарежи слику (рецко)
Name[sv]=Bränn avbildning (xfburn)
Name[th]=เขียนลงแผ่น (xfburn)
Name[tr]=Kalıbı yazdır (xfburn)
Name[ug]=تەسۋىر يازغۇ(xfburn)
Name[uk]=Записати образ (xfburn)
Name[vi]=Ghi tập tin ảnh (xfburn)
Name[zh_CN]=刻录镜像(xfburn)
Name[zh_TW]=燒錄映像檔 (xfburn)
