<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
<meta name="robots" content="noindex" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Accès refusé</title>
<style type="text/css">
body {
  /* Fournir l'URL du fond d'écran 
  background: url(http://squidguard.serveur/background.jpg);
  */
margin-left: 20%;
margin-right: 20%;
margin-top: 5%;
font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
color: #5A554E;
text-align: justify;
}
</style>
</head>
<body>

<h1>Accès refusé</h1>

<hr>

<p>La configuration du contrôle d'accès - mise en place par <a
href="http://www.microlinux.fr">Microlinux</a> - a rejeté votre
requête pour visiter ce site. Il peut y avoir plusieurs raisons à cela.</p>

<ol>

<li>Vous essayez d'accéder à un site au contenu bénin mais <q>récréatif</q>
(réseaux sociaux, sites de vidéos, webmail, etc.) à une heure où vous êtes
censé travailler... ou dormir. Dans ce cas, revenez plus tard... ou plus
tôt&nbsp;;o)</li>

<li>L'accès à certains sites est réservé aux utilisateurs privilégiés de
l'établissement (direction, enseignants, etc.) et interdit aux autres
(étudiants, élèves).</li>

<li>Le site que vous essayez d'afficher est tout bonnement interdit pour tout
le monde&nbsp;: contenus adultes, sites incitant à la haine, manuels pour
cultivateurs de drogues, sites malveillants ou frauduleux, etc.</li>  

</ol>

<p>En cas de litige, notamment si le dispositif de filtrage vous interdit
l'accès à un domaine dont le contenu ne devrait pas poser de problème,
contactez le responsable de votre réseau.</p>

<p>Pour info, voici l'extrait correspondant du Code Pénal, article
227-24&nbsp;:</p>

<p><q><em>Le fait soit de fabriquer, de transporter, de diffuser par quelque
    moyen que ce soit et quel qu'en soit le support un message à caractère
    violent ou pornographique ou de nature à porter gravement atteinte à la
    dignité humaine, soit de faire commerce d'un tel message, est puni de trois
    ans d'emprisonnement et de 75000 euros d'amende lorsque ce message est
    susceptible d'être vu ou perçu par un mineur.</em></q></p> 

<p><q><em>Lorsque les infractions prévues au présent article sont soumises par
    la voie de la presse écrite ou audiovisuelle ou de la communication au
    public en ligne, les dispositions particulières des lois qui régissent ces
    matières sont applicables en ce qui concerne la détermination des personnes
    responsables.</em></q></p>

</body>
</html>

