[Desktop Entry]
Name=Document Viewer
Name[de]=Dokumentenbetrachter
Name[fr]=Visionneuse de documents
Comment=Evince
TryExec=evince
Exec=evince %U
StartupNotify=true
Terminal=false
Type=Application
Icon=acroread
X-GNOME-DocPath=
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=evince
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.4.0
Categories=Office;
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;application/x-xzpdf;application/postscript;application/x-bzpostscript;application/x-gzpostscript;image/x-eps;image/x-bzeps;image/x-gzeps;image/vnd.djvu;image/tiff;application/x-cbr;application/x-cbz;application/x-cb7;application/x-cbt;
