[Desktop Entry]
Name=Character Map
Name[de]=Zeichentabelle
Name[fr]=Table de caractères
Comment=Gucharmap
Exec=gucharmap
Icon=accessories-character-map
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gucharmap
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.8.2
StartupNotify=true
