[Desktop Entry]
Name=Office Suite
Name[de]=Bürosuite
Name[fr]=Suite bureautique
Comment=Libre Office
Version=1.0
Terminal=false
NoDisplay=false
#Icon=libreoffice4.2-startcenter
#Icon=ooo
Icon=applications-office
Type=Application
Categories=Office;
Exec=libreoffice4.2 %U
MimeType=application/vnd.openofficeorg.extension;
StartupNotify=true
X-GIO-NoFuse=true
StartupWMClass=libreoffice-startcenter
X-KDE-Protocols=file,http,smb,ftp,webdav

