[Desktop Entry]
Name=Text editor
Name[de]=Texteditor
Name[fr]=Éditeur de texte
Comment=MEdit
Exec=medit %F
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
#Icon=medit
Icon=accessories-text-editor
Categories=Utility;TextEditor;
