[Desktop Entry]
Name=Power Management
Name[de]=Energiesparfunktionen
Name[fr]=Gestion de l'énergie
Comment=MATE Power Statistics
Icon=mate-power-statistics
Exec=mate-power-statistics
Terminal=false
Type=Application
Categories=GTK;System;Monitor;
OnlyShowIn=MATE;
NoDisplay=false
StartupNotify=true
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-power-manager
X-MATE-Bugzilla-Component=mate-power-statistics
X-MATE-Bugzilla-Version=1.6.2
X-Desktop-File-Install-Version=0.10
